<!DOCTYPE html>
<html>
<head>
<link href = "Style.css" rel = "stylesheet"></link>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset = "UTF-8"></meta>
<title>Youtube Downloader</title>
</head>


<body>
<form action = "http://127.0.0.1:5000//download" method = "post">
<header>

  
 
  
    <div class="container">
      <h1 class="logo"></h1>

      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Terms And Condition</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <input class = "input" id = "corners" name = "link" type = 'text' placeholder = "Paste Your Link Here">
  <div class = "buttons">
    <button class = "btn-hover">Download</button>
  </div>

  <!-- Making Card of html-->
   <div class="container1">
    <div class="parent">
      <div class="wave-card">
        
        <div class="wave-card-shape"></div>
        <div class="wave-card-shape"></div>
        <div class="wave-card-shape"></div>

        <h3 class="wave-card-title">Fast And Secure</h3>
        <small class="wave-card-subtitle">Using Youtube Downloader is Fastes Way To Download Youtube Video In MP4</small>
      </div>
    </div>
  </div>


<!--Making Second Card-->
  <div class="container2">
    <div class="parent2">
      <div class="wave-card">
        
        <div class="wave-card-shape2"></div>
        <div class="wave-card-shape2"></div>
        <div class="wave-card-shape2"></div>

        <h3 class="wave-card-title2">Easy To Download</h3>
        <small class="wave-card-subtitle2">Using Youtube Downloader is Easy Way To Download Youtube Video</small>
      </div>
    </div>
  </div>

  <!--Making third Card-->
  <div class="container3">
    <div class="parent2">
      <div class="wave-card">
        
        <div class="wave-card-shape3"></div>
        <div class="wave-card-shape3"></div>
        <div class="wave-card-shape3"></div>

        <h3 class="wave-card-title2">Without Limitation</h3>
        <small class="wave-card-subtitle2">You Can Download Your Youtube Video Without Any Limitation</small>
      </div>
    </div>
  </div>
<form>
</body>
</html>